

.ranking {
    max-width: 400px;
    line-height: 1
}

.ranking > ol {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    width: 100%;
    padding: 4px;
}

.ranking li {
    display: flex;
    align-items: center;
    --step: 0
}

.ranking li .title > :first-child {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: #181720 no-repeat 50%/contain
}

.ranking li img {
    height: 36px;
    min-width: 96px
}

.ranking li .title {
    display: flex;
    flex-grow: 1;
    background: #2d3a52;
    text-shadow: 1px 1px 1px #1e1242;
    transition: background-color 1s
}

.ranking li .title > :nth-child(2) {
    flex-grow: 1;
    line-height: 1;
    align-self: center
}

.ranking li > * {
    position: relative;
    z-index: 1
}

.ranking li a {
    color: #dfeaed;
    text-decoration: none;
    outline: none
}

/* Animation here: */

.ranking li > .title:hover > .title, .ranking li > .title > .title:hover {
    opacity: 1;
    transition: .1s
}

.ranking li > .title > .title {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: linear-gradient(90deg, #9e814c, #ddba83 60%, #9e814c);
    transition: opacity .6s ease-in
}

.ranking li .animate {
    animation: burst-out .4s ease-in forwards
}

.flat.ranking li .animate {
    animation: none
}

@keyframes burst-out {
    0% {
        clip-path: circle(0)
    }
    to {
        clip-path: circle(100%)
    }
}



/*.ranking li > .title:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(86deg, var(--dark) calc(var(--start) - var(--spread) - var(--drift) * var(--step) - var(--growth) * var(--step)), var(--light) calc(var(--start) - var(--drift) * var(--step)), var(--dark) calc(var(--start) + var(--spread) - var(--drift) * var(--step) + var(--growth) * var(--step)));*/
/*    mix-blend-mode: color-dodge;*/
/*    z-index: -1;*/
/*    --light: #1a2833;*/
/*    --dark: transparent;*/
/*    --start: 58%;*/
/*    --spread: 13%;*/
/*    --drift: -0.18%;*/
/*    --growth: 1.8%;*/
/*    animation: compact-ranking-quing 1.7s .1s backwards*/
/*}*/

/*.flat.ranking li > .title:before {*/
/*    --light: #121c24;*/
/*    animation: none*/
/*}*/

/*@keyframes compact-ranking-quing {*/
/*    0% {*/
/*        width: calc(100% - 75% * var(--step) / 9)*/
/*    }*/
/*}*/

/*.ranking li:nth-child(2) > .title {*/
/*    background: #2c374f;*/
/*    --step: 1*/
/*}*/

/*.ranking li:nth-child(3) > .title {*/
/*    background: #2c334a;*/
/*    --step: 2*/
/*}*/

/*.ranking li:nth-child(4) > .title {*/
/*    background: #2a2f45;*/
/*    --step: 3*/
/*}*/

/*.ranking li:nth-child(5) > .title {*/
/*    background: #292d40;*/
/*    --step: 4*/
/*}*/

/*.ranking li:nth-child(6) > .title {*/
/*    background: #292b3d;*/
/*    --step: 5*/
/*}*/

/*.ranking li:nth-child(7) > .title {*/
/*    background: #282938;*/
/*    --step: 6*/
/*}*/

/*.ranking li:nth-child(8) > .title {*/
/*    background: #272733;*/
/*    --step: 7*/
/*}*/

/*.ranking li:nth-child(9) > .title {*/
/*    background: #26252e;*/
/*    --step: 8*/
/*}*/

/*.ranking li:nth-child(10) > .title {*/
/*    background: #24232b;*/
/*    --step: 9*/
/*}*/